.menu-button {
    border: 1px solid #424242;
    border-radius: 50px;
    padding: 8px 15px;
    color: #424242;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #424242;
    color: white !important;
    border-color: white;
}